// サイトで使用する色を定義
$white: #fff;
$black: #000;
$cl-black: #2c3e46; // 深みのある青緑（信頼感UP）
$bg-dark: #317589; // 落ち着いたブルーグリーン
$bg-middle: #59b9c6; // メインの新橋色（爽やかさと上品さ）
$bg-light: #e3f4f7; // 軽やかで洗練された背景色
$cl-border: #5a8ea2; // 控えめながら締まりのあるブルー
$bg-gray-l: #a8dde5; // 優しく親しみやすい水色
